* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar-brand img {
  border-radius: 1rem;
  border-color: lawngreen;
  background-size: contain;
  
}

#textosuperior a {    
    
    size: 5px; 
    text-align-last: center;
    border-color: royalblue;
    border-width: 2%;
    border: solid 15px;
    border-radius: 1rem;
    box-sizing: border-box;
    border-width: 3px;
    border-color: rgb(116, 108, 107);
    
}

#maparesponsive {
  margin-left: 0%;
  margin-block-start: 1px ;
  padding: 0%;
  size-adjust: auto;
}

header .navbarHome {
  font: bold;
  font-weight: bold;
  lighting-color: blue;
  font-size: 25px;
  align-content: flex-end;
}


a {
  background-color: rgb(163, 120, 120);
  transition: background-color 0.5s;
}

header text {
  justify-content: space-between;
  
}

a:hover {
  background-color: rgb(116, 108, 107);
}

.navbar-var {
  font-size: large;
  color: black;
}

body {
  background-image: url(../img/harina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2px;
}

.carousel-inner img {
  display: flex;
  width: 100%;
  max-height: 460px;
}

.carousel-inner {
  height: 200px;
}

footer {
  font-weight: bold;
  padding-top: 50px;
  text-align: end;
  opacity: 100%;
  font-family: "Roboto", sans-serif;
  align-content: center;
  color: white;
  size: 2rem;
}

/* ---TABLETAS */
@media (min-width: 768px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .carousel-inner img {
    display: flex;
    width: 100%;
    max-height: 460px;
  }

  .carousel-inner {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .boton {
    align-items: center;
    align-content: center;
    padding-left: 0%;
    padding-top: 10%;
  }
}

/* ----ESCRITORIO NORMAL----- */

@media (min-width: 1000px) {
  #opcionessuperiores {
    color: black;
    text-decoration: underline;
    font-size: 50px;
    border-radius: 3rem;
    
  }
}


.suscripcionmail {
  padding-top: 3rem;
  padding-left: 3rem;
  align-content: stretch;
  justify-content: space-between;
}
@media (min-width: 1000px) {
}

@media (min-width: 1000px) {
  body {
    display: content;
    align-content: flex-end;
    background-color: rgb(0, 0, 0);
  }
}
.carousel-inner img {
  max-height: 200px;
  width: 100%;
  max-height: 10%;
}

.carousel-inner {
  height: 200px;
}
@media (min-width: 1000px) {
  .container1 {
    display: flex;
    align-content: space-between;
  }
}

@media (min-width: 1000px) {
  .card-img-top {
    align-self: auto;
    align-content: space-between;
    padding: 2rem;
  }
}

@media (min-width: 1000px) {
  .boton {
    display: flex;
    align-content: center;
    font-size: 18px;
    border-width: 5rem;
    min-block-size: 3rem;
    width: 300px;
  }
}
.heading {
  size: larger;
}

.suscripcionmail {
  align-content: inline;
}

.widget_blog_subscription {
  border-radius: 2rem;
  border-color: red;
  border-width: 5px;
  display: flex;
  margin: auto;
  width: 60%;
  max-width: 490px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  background-color: #f6f6f2;
  background-image: url(../img/banner-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget_blog_subscription p {
  margin: 0;
  text-align: end;
}
.widget_blog_subscription p:first-child {
  margin: 40px 15px 0;
  color: #f38630;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-family: "roboto", sans-serif;
  letter-spacing: 1px;
}
.widget_blog_subscription input[type="text"] {
  margin: 45px 30px;
  color: #999;
  padding: 25px 15px !important;
  text-align: center;
  width: 100% !important;
  max-width: calc(100% - 90px);
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
  color: #69d2e7;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
  color: #69d2e7;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
  color: #69d2e7;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
  color: #69d2e7;
}
.widget_blog_subscription input[type="submit"] {
  margin: 0%;
  background-color: #a37878;
  color: #fff;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
  background-color: rgb(163, 120, 120);
}

.fondocards a {
  box-sizing: border-box;
  color: rgb(246, 253, 253);
  background-color: rgb(163, 120, 120);
  border-radius: 3rem;
  border-width: 5rem;
  align-items: center;
  background-color: #a37878;
  transition: background-color 0.5s;
  box-sizing: content-box;
  width: 50%;
  border: solid #bb5f29d2 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}


a:hover {
  background-color: rgb(116, 108, 107);
}

.card-body {
  text-align: end;
  text-decoration: hotpink;
}

.card-text {
  text-align: center;
  font-weight: normal;
  
  
}

.card-group h5 {
  text-align: center;
  padding-bottom: 1rem;
}

.card-group img {
  background-image: url(../img/cafemolido2.jpg);
  background-repeat: no-repeat;
  object-fit: cover; 
  max-height: 350px;
  ;  
}

.card-group {
  display: flex;
  align-content: end;

}

.card-group text {
  align-self: flex-end;
}