*{
    padding: px;
    margin: 0px;
    box-sizing: border-box;
}

header .navbarHome {
    font: bold;
    font-weight: bold;
    lighting-color: blue;
    font-size: 25px;
    align-content: flex-end;
    
    
    
}
a {
    background-color: rgb(163, 120, 120);
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: rgb(116, 108, 107);
  }

.navbar-var {
    font-size: large;
    color: black;
    
}

body {
    background-image: url(../img/harina.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding:2px;
    

}

.carousel-inner img {
    display: flex;
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 height: 200px;
}

 
footer {
    font-weight: bold;
    padding-top: 200px;
    text-align: end;
    opacity: 100%;
    font-family: 'Roboto', sans-serif;
    align-content: center; 
    color: white;
    size: 1rem;
}    


/* ---TABLETAS */
@media (min-width:768px){
     body{
        background-color: rgb(0, 0, 0);
    }
    .carousel-inner img {
        display: flex;
        width: 100%;
        max-height: 460px;
    }
    
    .carousel-inner{
     height: 200px;
    }
    
}

@media (min-width:768px){
    .boton{
        align-items: center;
        align-content: center;
        padding-left: 0%;
        padding-top: 10%;

    }
    .contacto{
        align-self: auto;
    }
}
    


/* ----ESCRITORIO NORMAL----- */

@media (min-width:1000px){
     #opcionessuperiores  {
        align-content: 3rem;
        font-size: 70px;
        text-decoration: underline;
        ;
    }
}

@media (min-width: 1000px){

    body{
        display: content;
        align-content: flex-end;
        background-color: rgb(0, 0, 0);
        }
}
    .carousel-inner img {
    max-height: 200px;
    width: 100%;
    max-height: 10%;
}

.carousel-inner{
 height: 200px;

}
@media (min-width: 1000px){
    .container1 {
        display: flex;
        align-content: space-between;
        
        

    }


    
    
    
}

@media (min-width: 1000px){
    .card-img-top {
        width: 100%;
    }
}


@media (min-width: 1000px){
    .boton{
        display: flex;
        align-content: center;
        font-size: 18px;
        border-width: 5rem;
        min-block-size: 3rem;
        width: 300px;
        
    }

    .tarjetas{
        padding-top: 15px;
        image-rendering: auto;


    }      

    .contactForm{
        background-image: url(/responsive/img/banner-header.png)
 
        
    }
    .contactForm{
        display: flex;
        padding-left: 3rem;
        margin-right: 3rem;
        padding-top: 3rem;
    }
}