<footer class="pieDePagina pt-3">
  <div class="menuFooter p-2">
    <div>
      <ul class="pie">
       <li class="fraga"><a href="#">Luis Fraga Benitez - 2021</a></li>
       <li><a href="#">Contactános</a></li>
       <li><a href="#">Todos los derechos reservados</a></li>
     </ul>
   </div>
   <div>
    <ul class="pie">
      <li class="fraga"><a href="#">Equipo</a></li>
      <li><a href="#">Sobre los cursos</a></li>
      <li><a href="#">Más info</a></li>
    </ul>
  </div>
  <div>
    <ul class="pie">
      <li class="fraga"><a href="">Inscripción</a></li>
      <li><a href="#">Hoja de vida</a></li>
      <li><a href="#">Desarrollado por nosotros</a></li>
    </ul>
  </div>
</div>
</footer>